#header img{
	width:780px;
	margin:auto;
}
#content,#gridwrapper,.ui-jqgrid{
	margin:auto;
}
body{
	background: #FFFFFF;
	-pie-background:#FFFFFF;
	color: #7D7B7A;
    font-size: 14px;
    line-height: 2;
    word-wrap: break-word;
}

h3{
	behavior: url(PIE.htc);
	border-bottom: 1px solid #E7E7E7;
	position: relative;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 24px;
    padding: 0 0 12px;
}

h2{
	behavior: url(PIE.htc);
	border-bottom: 1px solid #E7E7E7;
	position: relative;
    font-size: 16px;
    line-height: 36px;
    margin: 0 0 24px;
    padding: 0 0 12px;
}

h3 small {
    font-size: 14px;
}

a {
	behavior: url(PIE.htc);
    color: #7CADDE;
    text-decoration: none;
    position: relative;
    transition: color 0.2s linear 0s;
    position: relative;
}


body, .gkMenu > ul div.childcontent li, .gkMenu > ul > li a small {
    font-family: Arial,Helvetica,sans-serif;
}

.gkPopupWrap,.fieldShadow, .fieldShadow2{
    padding: 28px;
}

form{
	margin:0px;
}

#login-form fieldset,.fieldShadow fieldset, .fieldShadow2 fieldset {
    margin: 0 0 36px;
}

fieldset {
    border: medium none;
    margin: 0;
    padding: 0;
}
#login-form fieldset p,.fieldShadow fieldset p,.fieldShadow2 fieldset p, .paragraph{
    margin: 0.5em 0;
}

label {
	display:block;
    font-size: 13px;
}

.replace{
	display:inline-block;
	margin:3px;
}
#login-form input[type="text"], #login-form input[type="password"]{
    width: 90%;
}
textarea, input[type="text"], input[type="password"], input[type="url"], input[type="email"] {
	behavior: url(PIE.htc);
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    
    -o-border-bottom-colors: none;
    -o-border-left-colors: none;
    -o-border-right-colors: none;
    -o-border-top-colors: none;
    -o-box-sizing: border-box;
    
    -webkit-border-bottom-colors: none;
    -webkit-border-left-colors: none;
    -webkit-border-right-colors: none;
    -webkit-border-top-colors: none;
    -webkit-box-sizing: border-box;
    
    border-bottom-colors: none;
    border-left-colors: none;
    border-right-colors: none;
    border-top-colors: none;
    box-sizing: border-box;
    
    border-color: #CCCCCC #E7E7E7 #E7E7E7;
    border-image: none;
    border-right: 1px solid #E7E7E7;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    font-size: 14px;
    height: 34px;
    line-height: 35px;
    max-width: 100% !important;
    padding: 0 12px;  
    position:relative;
    behavior: url(PIE.htc);  
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}
button, a.button, input.button, span.button, button.button, div.button, input[type="submit"],input[type="button"], .pagenav-prev a, .pagenav-next a, a.readon, .itemReadMore {
    behavior: url(PIE.htc);
    background: none repeat scroll 0 0 #222222;
    border: medium none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 1px 5px 2px 2px;
    padding: 0 12px;
    text-align: center;
    position:relative;
    transition: background-color 0.12s ease-out 0s;
    behavior: url(PIE.htc);
}
button, a.button, input.button, span.button, button.button, div.button, input[type="submit"], input[type="button"], .pagenav-prev a, .pagenav-next a, a.readon, .itemReadMore {
    behavior: url(PIE.htc);
    background: none repeat scroll 0 0 #222222;
    border: medium none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 1px 5px 2px 2px;
    padding: 0 12px;
    text-align: center;
    transition: background-color 0.12s ease-out 0s;
    behavior: url(PIE.htc);
}
button, input[type="button"], input[type="reset"], input[type="submit"],a.button {
	behavior: url(PIE.htc);
    cursor: pointer;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
#gkPopupLogin ,.fieldShadow, .fieldShadow2{
	behavior: url(PIE.htc);
    display: block;
    opacity: 1;
}
#gkPopupLogin {
	behavior: url(PIE.htc);
    margin:auto;
    width: 320px;
}
#gkPopupOverlay, #gkPopupLogin,.fieldShadow, .fieldShadow2 {
	/*
    background: none repeat scroll 0 0 #FFFFFF;
    */
    behavior: url(PIE.htc);
    margin:auto;
    z-index: 1000002;
    -moz-border-radius: 5px 20px 5px;
	-webkit-border-radius:5px 20px 5px;
	-o-border-radius:5px 20px 5px;	
	-moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
	-o-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
	border-radius: 5px 20px 5px;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.6);	
	filter: progid:DXImageTransform.Microsoft.Shadow(strength = 2, direction = 135, color = '#000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 135, Color = '#000000')";
		
	zoom: 1;
	behavior: url(PIE.htc);
}
#wrapper{
	width:320px;
	margin:auto;	
}

#mainWrapper{
	behavior: url(PIE.htc);
	max-width:960px;
	margin:auto;
	-moz-border-radius: 5px 20px 5px;
	-webkit-border-radius:5px 20px 5px;
	-o-border-radius:5px 20px 5px;
	-moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
	-o-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
	border-radius: 5px 20px 5px;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
	-ms-filter:progid:DXImageTransform.Microsoft.Shadow(color='#00FF00', Direction=90, Strength=3);
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#00FF00', Direction=90, Strength=3);
	zoom: 1;
	behavior: url(PIE.htc);
}
.fieldShadow {
	width:320px;
	margin:auto;
}

.fieldShadow2 {
	width:80%;
	margin:auto;
}
#header {
	width:780px;
	margin:auto;
}
#menu{
	margin:auto;
	width:100%;
}
footer{
 	z-index:100;
}

#footer{
	padding:7px;
}

#formButton input{	
	margin:auto;	
}

#nav {
 background: #e5e5e5;
 float: left;
 margin: 0; 
 padding: 0;
 border: 1px solid white;
 border-bottom: none;
 width:99.8%;
 font-size:16px;
 position:relative;
 behavior: url(PIE.htc);
}

#nav li a, #nav li {
 float: left;
 position:relative;
}

#loginForm li {
	list-style:none;
}
#nav li {
 list-style: none;
 position: relative;
}

#nav li a {
 behavior: url(PIE.htc);
 padding: 0.2em 2.41em;
 text-decoration: none;
 overflow:hidden;
 position:relative;
 color: white;
 background: #292929;
 background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px);
 background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(4%, #3c3c3c), to(#292929));
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#3c3c3c', EndColorStr='#292929' gradientType='0'); /* IE6,IE7 */
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3c3c3c', EndColorStr='#292929' gradientType='0')"; /* IE8 */
 background: -ms-linear-gradient(top, #3c3c3c, #292929);
 border-right: 1px solid #3c3c3c;
 border-left: 1px solid #292929;
 border-bottom: 1px solid #232323;
 border-top: 1px solid #545454;
 behavior: url(PIE.htc);
}

#nav li a:hover {
behavior: url(PIE.htc);
 background: #2a0d65;
 background: -moz-linear-gradient(top, #11032e, #2a0d65);
 background: -webkit-gradient(linear, left top, left bottom, from(#11032e), to(#2a0d65));
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#11032e', EndColorStr='#2a0d65' gradientType='0'); /* IE6,IE7 */
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#11032e', EndColorStr='#2a0d65' gradientType='0')"; /* IE8 */
 background: -ms-linear-gradient(top, #11032e, #2a0d65);
 behavior: url(PIE.htc);
}

#nav li a img{
	border:none;
	border-color:none;
	border-style:none;
}


/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background: black;
	right : 0;
	bottom: 0;
}

#nav li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;
}

#nav li:hover > ul {
 display: block;
}

#nav li ul li, #nav li ul li a {
 float: none;
}

#nav li ul li {
 _display: inline; /* for IE6 */
}

#nav li ul li a {
 width: 150px;
 display: block;
}

/* SUBSUB Menu */

#nav li ul li ul {
 display: none;
}

#nav li ul li:hover ul {
 left: 100%;
 top: 0;
}

footer,#footer{
	max-width:320px;
}
footer,#footer,#footer a{
	margin:auto;	
}
#content{
	min-height:350px;
}
.errors{
	font-size:14px;
	color:#ED0C1B;
	tex-align:center;
}

.oddRow{
	background-color:#eee;
}
.evenRow{
	background-color:#fff;
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)		{ background-color:#fff; }

dl {
 width:90%;
 margin:auto;
 overflow:hidden;
}
dt {
 float:left;
 width:50%; /* adjust the width; make sure the total of both is 100% */
 background:#D7D7D7;
}
dd {
 float:left;
 width:50%; /* adjust the width; make sure the total of both is 100% */
 background:#EFEFEF;
}

.container{
	overflow: auto;
	white-space: pre-wrap; /* CSS 2.1 */
  	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word;
}

div.styled-select { 
	behavior: url(PIE.htc);
    overflow:hidden; /* this hides the select's drop button */ 
    padding:0; 
    margin:0; 
    background: white url(../images/arrow.jpg) no-repeat bottom right; 
    /* this is the new drop button, in image form */ 
    width:12em; 
    border-radius:2px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
    border: solid 1px #ccc; 
    behavior: url(PIE.htc);
}

div.styled-select select {
    width:115% /* this percentage effectively extends the drop down button out of view */;
    background-color:transparent /* this hides the select's background making any styling visible from the div */;
    background-image:none;
    -webkit-appearance: none /* this is required for Webkit browsers */;
    border:none;
    font-size: 14px;
    height: 34px;
    line-height: 35px;
    box-shadow:none;
    padding:0.3em 0.5em; /* padding should be added to the select, not the div */
}

.ie7 div.styled-select {border:none; }
.ie7 div.styled-select select {
    width:100%;
    background-color:white;
    border: solid 1px #ccc;
    padding:0.3em 0.5em;
}

.ui-jqgrid tr.jqgrow td {
	word-wrap: break-word; /* IE 5.5+ and CSS3 */
    white-space: pre-wrap; /* CSS3 */
    white-space: normal !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
 	height:auto;
 	vertical-align:middle;
 	overflow: hidden;
}

tr.ui-jqgrid-labels,tr.ui-search-toolbar{
	height:34px;
}

dl {
    margin-bottom:20px;
}
 
dl dt {
    background:#5f9be3;
    color:#fff;
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px; 
    width:40%;
}
 
dl dd {
    margin:2px 0;
    padding:5px 0;
    width:60%;
}

.code div,.code code, .code pre{
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	white-space: normal;
	overflow: hidden;
}
code{
	display:block;
}

.menuResize{
	padding: 0.2em 8.56em;
}
